{% load staticfiles %}

{% include 'monitor/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/datatable/css/dataTables.bootstrap.css' %}">

{% include 'monitor/template_nav.html' %}

<div class="container page-container">
    <section class="section">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Context</h2>
            </div>
            <div class="col-xs-12 col-table">
                <div class="table-container row">
                    <div class="table-title col-xs-12 col-md-4">Context List</div>
                    <div class="dataTables_wrapper form-inline">
                        <form id="searchForm" class="row"> <!-- Search Form -->
{#                            <div class="col-xs-12 col-sm-3" style="padding-bottom: 5px;">#}
{#                                <button class="btn btn-primary" id="btnShowRecent">Show Recent Contexts</button>#}
{#                            </div>#}
                            <div class="col-xs-12 col-sm-12" style="padding-bottom: 5px;">
                                <div class="pull-right">
                                    <label>Period:</label>
                                    <input id="searchStartDate" type="date" placeholder="yyyy-MM-dd" class="form-control">
                                    ~
                                    <input id="searchEndDate" type="date" placeholder="yyyy-MM-dd" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div>
                                    Show
                                    <select id="searchPageEntries" name="dataTable_length"
                                            aria-controls="dataTable" class="form-control">
                                        <option value="10" selected>10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="300">300</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select> entries
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9">
                                <div class="pull-right">
                                    <label>Search:</label>
                                    <select id="searchContextType" class="form-control">
                                        <option value="deviceId">Device Item ID</option>
                                        <option value="contextType">Context Type</option>
                                    </select>
                                    <input id="searchContextText" type="search" class="form-control" aria-controls="dataTable">
                                    <button id="btnContextSearch" class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                        <div class="row"> <!-- Table -->
                            <div class="col-sm-12">
                                <table id="dataTable" class="table table-striped table-bordered table-hover dataTable"
                                       width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th class="" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Device Item ID: activate to sort column ascending"
                                            style="width: 143px;">Device Item ID</th>
                                        <th class="" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Context Type: activate to sort column ascending" style="width: 233px;">
                                            Context Type</th>
                                        <th class="" aria-controls="dataTable"
                                            rowspan="1" colspan="1" aria-sort="descending" aria-label="Time: activate to sort column ascending" style="width: 416px;">
                                            Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <ul class="pagination">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'monitor/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/datatable/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatable/js/dataTables.bootstrap.js' %}"></script>
<script>
    var search_period = [];
    var search_type = null;
    var search_text = null;
    var search_context_number = 0;

    var search_now_page = 0;
    var search_page_count = 0;
    var search_page_limit = 0;

    $(document).ready(function () {
{#        $('#btnShowRecent').click(function() {#}
{##}
{#        });#}

        $('#searchForm').submit(function(e) {
            e.preventDefault();

            var startDate = $('#searchStartDate').val();
            var endDate = $('#searchEndDate').val();
            var type = $('#searchContextType').val();
            var text = $('#searchContextText').val();

            if (!/\S/.test(text)) {
                //openModal('The search text is empty.', "Search Failed");
                //return;
                text = null;
            }

            var startTime = -62167219200000;
            var endTime = 32520455448000;

            if (/\S/.test(startDate)) {
                if (!isValidDate(startDate)) {
                    openModal("The typing form of 'Period' is 'yyyy-MM-dd'.<br/>Please use this pattern.<br/><br/>ex) 2016-04-16", "Search Failed");
                    return;
                }
                startTime = new Date(startDate).getTime() - 9*3600000; // 0:00:00 for KR timezone (GMT-9)
            }

            if (/\S/.test(endDate)) {
                if (!isValidDate(endDate)) {
                    openModal("The typing form of 'Period' is 'yyyy-MM-dd'.<br/>Please use this pattern.<br/><br/>ex) 2016-04-16", "Search Failed");
                    return;
                }
                endTime = new Date(endDate).getTime() + 15*3600000 - 1; //0시 0분 0초 //23:59:59.999 for KR timezone (GMT-9)
            }

            if (endTime < startTime) {
                openModal("The start time of period is larger than the end time of period.", "Search Failed");
                return;
            }

            var ajaxData = {
                action : 'context_count',
                start_period : startTime,
                end_period: endTime
            };

            if (text != null) {
                if (type == 'deviceId') {
                    var itemID = text;
                    if (itemID.match(/^[0-9]+$/) == null) {
                        openModal('Device Item ID must be natural number', "Search Failure");
                        return;
                    }
                    itemID = parseInt(itemID);
                    console.log(itemID);
                    if (itemID == null || isNaN(itemID)) {
                        openModal('Device Item ID must be natural number', "Search Failure");
                        return;
                    }
                    ajaxData['device_item_id'] = itemID;
                } else if (type == 'contextType') {
                    ajaxData['context_type'] = text;
                } else {
                    openModal("Search Type Error.", "Search Failed");
                    return;
                }
            }

{#            console.log(ajaxData);#}
            $.LoadingOverlay('show');
            $.ajax("/api/context_retrieve", {
                method: 'GET',
                data: ajaxData,
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS' && res['context_count'] != undefined
                            && res['context_count'] != null && res['context_count'] > 0) {
{#                        console.log(res);#}
                        var logs = res['logs'];
                        for (var i=0; i<logs.length; i++) {
                            addLog(logs[i]);
                        }
                        search_period = [startTime, endTime];
                        search_type = type;
                        search_text = text;
                        search_context_number = res['context_count'];
                        search_page_limit = parseInt($('#searchPageEntries').val());
                        search_page_count = parseInt(search_context_number / search_page_limit);
                        if (search_context_number % search_page_limit > 0)
                            search_page_count += 1;
                        search_now_page = 1;

                        getContextList(search_now_page);
                    } else {
                        if(res['msg'] == undefined || res['msg'] == null) {
                            res['msg'] = 'There is no searched data.'
                        }
                        openModal(res['msg'], "Context Retrieve");
                        search_period = [];
                        search_type = null;
                        search_text = null;
                        search_context_number = 0;
                        search_page_count = 0;
                        search_page_limit = 0;

                        setContextListTable(null);
                    }
                }
            });
        });

        setContextListTable(null);
    });

    function setContextListTable(dataList, nowPage, offset) {
        var tbody = $('#dataTable tbody');
        $('#dataTable tbody tr').unbind('click').off('click');
        tbody.empty();

        if (dataList==undefined || dataList==null || dataList.length==0) {
            var htmlString = '<tr class="odd"><td valign="top" colspan="3" class="dataTables_empty">No data available in table</td></tr>';
            tbody.append(htmlString);
            $('#dataTable_info').text("");
            var pagination = $('#dataTable_paginate .pagination');
            pagination.find('.paginate_button').unbind('click').off('click');
            pagination.empty();
            return;
        }

        var bOdd = true;
        for (var i=0; i<dataList.length; i++) {
            var data = dataList[i];
            var htmlString = '<tr role="row" class="' + (bOdd? 'odd':'even') +
                    '" data-id="' + data['context_id'] + '" data-type="' + data['series_type'] + '"><td>';
            bOdd = !bOdd;
            htmlString += data['device_item_id'] + '</td><td>';
            htmlString += data['type'] + '</td><td>';
            if (data['series_type'] == 'context') {
                htmlString += new Date(data['time']).format("yyyy/MM/dd HH:mm:ss.ccc");
            } else {
                htmlString += new Date(data['time_from']).format("yyyy/MM/dd HH:mm:ss.ccc")
                    + ' ~ ' + new Date(data['time_to']).format("yyyy/MM/dd HH:mm:ss.ccc");
            }
            htmlString += '</td></tr>';
            tbody.append(htmlString);
        }
        $('#dataTable tbody tr').click(function() {
            $.LoadingOverlay('show');
            var context_id = $(this).data('id');
            var series_type = $(this).data('type');
            if (series_type == 'context') {
{#                location.href = '{% url 'monitor:context' %}/data/' + context_id;#}
                window.open('{% url 'monitor:context' %}/data/' + context_id, 'ctxDetail');
            } else if (series_type == 'series') {
{#                location.href = '{% url 'monitor:context' %}/series_data/' + context_id;#}
                window.open('{% url 'monitor:context' %}/series_data/' + context_id, 'ctxDetail');
            } else {
                openModal('Unknown Error!', "Search Failure");
            }
            $.LoadingOverlay('hide');
        });


        $('#dataTable_info').text('Showing '+(offset+1)+' to '+(offset+dataList.length)+' of '+search_context_number+' entries');


        var pagination = $('#dataTable_paginate .pagination');
        pagination.find('.paginate_button').unbind('click').off('click');
        pagination.empty();
        var dataDtIdx = 0;

        var htmlString = "";
        htmlString = '<li class="paginate_button previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0">Previous</a></li>';
        dataDtIdx++;
        pagination.append(htmlString);

        var pageList = [];
        if (search_page_count <= 7) {
            for (var i = 1; i <= search_page_count; i++) {
                pageList.push(i);
            }
        } else {
            if (nowPage <= 4) {
                for (var i = 1; i <= 4; i++) {
                    pageList.push(i);
                }
            } else {
                if (search_page_count-nowPage <=3) {
                    pageList.push(1);
                    pageList.push('...');
                    for (var i=search_page_count-4; i<=search_page_count; i++) {
                        pageList.push(i);
                    }
                } else {
                    pageList.push(1);
                    pageList.push('...');
                    pageList.push(nowPage - 1);
                    pageList.push(nowPage);
                }
            }

            if (search_page_count-nowPage <=3) {
            } else {
                if (nowPage <= 4) {
                    pageList.push(5);
                } else {
                    pageList.push(nowPage+1);
                }
                pageList.push('...');
                pageList.push(search_page_count);
            }
        }
        for (var i=0; i<pageList.length; i++) {
            var page = pageList[i];
            htmlString = '<li class="paginate_button"><a href="#" aria-controls="dataTable" data-dt-idx="'+dataDtIdx+'" tabindex="0">'+page+'</a></li>';
            dataDtIdx++;
            pagination.append(htmlString);
        }

        htmlString = '<li class="paginate_button next"><a href="#" aria-controls="dataTable" data-dt-idx="'+dataDtIdx+'" tabindex="0">Next</a></li>';
        pagination.append(htmlString);

        if (nowPage == 1) {
            pagination.find('.paginate_button.previous').addClass('disabled');
            pagination.find('.paginate_button.previous a').removeAttr('href');
        } else {
            pagination.find('.paginate_button.previous a').click(function() {
                getContextList(nowPage-1);
            });
        }

        if (nowPage == search_page_count) {
            pagination.find('.paginate_button.next').addClass('disabled');
            pagination.find('.paginate_button.next a').removeAttr('href');
        } else {
            pagination.find('.paginate_button.next a').click(function() {
                getContextList(nowPage+1);
            });
        }

        pagination.find('.paginate_button:not(.previous, .next)').each(function() {
            var paginationBtn = $(this);
            var page = paginationBtn.find('a').text();
            if (page == '...') {
                paginationBtn.addClass('disabled');
                paginationBtn.find('a').removeAttr('href');
            } else {
                page = parseInt(page);
                if (page == nowPage) {
                    paginationBtn.addClass('active');
                    paginationBtn.find('a').removeAttr('href');
                } else {
                    paginationBtn.find('a').click(function () {
                        getContextList(page);
                    });
                }
            }
        })
    }

    function getContextList(nowPage) {
        if (nowPage > search_page_count) nowPage = search_page_count;
        var offset = (nowPage-1) * search_page_limit;
        var ajaxData = {
            action : 'context_list',
            start_period : search_period[0],
            end_period: search_period[1],
            'limit': search_page_limit,
            'offset': offset
        };

        if (search_text != null) {
            if (search_type == 'deviceId') {
                ajaxData['device_item_id'] = search_text;
            } else if (search_type == 'contextType') {
                ajaxData['context_type'] = search_text;
            } else {
                openModal("Search Type Error.", "Search Failure");
                return;
            }
        }

        $.LoadingOverlay('show');
        $.ajax("/api/context_retrieve", {
            method: 'GET',
            data: ajaxData,
            dataType: 'json',
            success: function(res) {
                if (res['code'] == 'SUCCESS') {
                    $.LoadingOverlay('hide');
{#                    console.log(res);#}
                    var logs = res['logs'];
                    for (var i = 0; i < logs.length; i++) {
                        addLog(logs[i]);
                    }
                    search_now_page = nowPage;
                    setContextListTable(res['context_list'], nowPage, offset);
                } else {
                    openModal(res['msg'], "Context Retrieve Failure");
                }
            }
        });
    }

</script>

</body>
</html>