{% load staticfiles %}
{% load my_filters %}

{% include 'monitor/template_header.html' %}

<!-- custom css -->


{% include 'monitor/template_nav.html' %}

<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">
                    {% if device_item %}Update Device Item
                    {% else %}Add New Device Item
                    {% endif %}
                </h2>
            </div>
            <form id="addDeviceModelForm" class="col-xs-12 col-form" method="post">
                <div class="form-container form-boxed form-horizontal row">

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 control-label" for="itemName" >Item Name</label>
                        <div class="col-sm-9 ">
                            <input type="text" id="itemName" maxlength="255" name="itemName" class="form-control"
                                   placeholder="Item Name">
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 control-label" for="modelId" >Device Model</label>
                        <div class="col-sm-9 ">
                            <select class="form-control" id="modelId" name="modelId" required>
                                <option selected disabled value="" >Choose Device Model</option>
                                {% for model in model_list %}
                                    <option value="{{ model.model_id }}">
                                        [{{ model.model_id }}] {{ model.model_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 control-label" for="userId" >User ID</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="userId" name="userId" required>
                                <option selected disabled value="" >Choose User</option>
                                {% for user in user_list %}
                                    <option>{{ user.user_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label class="col-sm-3 control-label" for="address" >Network Address</label>
                        <div class="col-sm-9 ">
                            <input type="text" id="address" maxlength="255" name="address" class="form-control"
                                   placeholder="Device Item's Network Address. ex) IPv4, IPv6, MAC Address, and etc.">
                        </div>
                    </div>
                </div>

                <div class="form-btns-container row">
                {% if device_item %}
                    <div id="btnFormCancel" class="col-xs-6 col-sm-6 col-md-3 col-md-offset-1 form-button">
                        <a class="btn btn-lg btn-warning btn-block onloading"
                           onclick="javascript:location.replace('{% url 'monitor:device_item' %}');">Back</a>
                    </div>
                    <div id="btnFormDelete" class="col-xs-6 col-sm-6 col-md-3 form-button">
                        <button class="btn btn-lg btn-danger btn-block" type="button">Delete</button>
                    </div>
                    <div id="btnFormConfirm" class="col-xs-6 col-sm-6 col-md-4 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                    </div>
                {% else %}
                    <div id="btnFormCancel" class="col-xs-6 col-sm-6 col-md-3 col-md-offset-3 form-button">
                        <a class="btn btn-lg btn-warning btn-block"
                           onclick="javascript:history.back();">Cancel</a>
                    </div>
                    <div id="btnFormConfirm" class="col-xs-6 col-sm-6 col-md-3 form-button">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
                    </div>
                {% endif %}
                </div>
            </form>
        </div>
    </section>
</div>

{% include 'monitor/template_footer.html' %}

<!-- custom javascript -->
<script>
{% if device_item %}
    {% if device_item.item_name %}
        $('#itemName').val("{{ device_item.item_name }}");
    {% endif %}
    $('#modelId').val("{{ device_item.model_id }}");
    $('#userId').val("{{ device_item.user_id }}");
    $('#address').val("{{ device_item.item_address }}");
{% endif %}

$(document).ready(function () {
    $('#addDeviceModelForm').on('submit', function (e) {
        e.preventDefault();

        var itemName = $('#itemName').val().trim();
        $('#itemName').val(itemName);

        var address = $('#address').val().trim().toUpperCase();
        $('#address').val(address);

        if (!checkTextOnlyAlphabetsAndNumber(itemName)) {
            makeNoticePopover($('#itemName'), "Item Name only contains alphabet, number, '-', '_', ',', and space.");
            return;
        }

        if (!checkNetworkAddress(address)) {
            makeNoticePopover($('#address'), "Invalid network address.");
            return;
        }

        $.LoadingOverlay('show');

        {% if device_item %}

            {% if device_item.connected %}
            $.LoadingOverlay('hide');
            openModal("Connected device item cannot update the information.<br/> " +
                    "Please disconnect first.", "Updating Failed");
            {% else %}
            $.ajax("/api/device_item", {
                method: 'PUT',
                data: JSON.stringify({
                    'item_id': {{ device_item.item_id }},
                    'model_id' : $('#modelId').val(),
                    'user_id': $('#userId').val(),
                    'item_name': itemName,
                    'item_address': address
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        openModal("Successfully updated.", "Updating Success");
                    } else {
                        openModal(res['msg'], "Updating Device Item Failed")
                    }
                }
            });
            {% endif %}
        {% else %}
            $.ajax("/api/device_item", {
                method: 'POST',
                data: JSON.stringify({
                    'model_id' : $('#modelId').val(),
                    'user_id': $('#userId').val(),
                    'item_name': itemName,
                    'item_address': address
                }),
                dataType: 'json',
                success: function (res) {
                    $.LoadingOverlay('hide');
                    if (res['code'] == 'SUCCESS') {
                        $.LoadingOverlay('show');
                        location.href = "{% url 'monitor:device_item' %}";
                        $.LoadingOverlay('hide');
                    } else {
                        openModal(res['msg'], "Adding New Device Item Failed")
                    }
                }
            });
        {% endif %}
    });

    {% if device_item %}
        $('#btnFormDelete').click(function() {
            {% if device_item.connected %}
                $.LoadingOverlay('hide');
                openModal("Connected device item cannot update the information.<br/> " +
                        "Please disconnect first.", "Updating Failed");
            {% else %}
                $.ajax("/api/device_item", {
                    method: 'DELETE',
                    data: JSON.stringify({
                        'item_id': {{ device_item.item_id }}
                    }),
                    dataType: 'json',
                    success: function (res) {
                        $.LoadingOverlay('hide');
                        if (res['code'] == 'SUCCESS') {
                            $.LoadingOverlay('show');
                            location.replace("{% url 'monitor:device_item' %}");
                            $.LoadingOverlay('hide');
                        } else {
                            openModal(res['msg'], "Deleting Device Item Failed")
                        }
                    }
                });
            {% endif %}
        });
    {% endif %}
});

function checkNetworkAddress(text) {
    var regExpIPv4 = /^(([1-9]?[0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])[.]){3}([1-9]?[0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
    var regExpIPv6 = /((^|:)([0-9a-fA-F]{0,4})){1,8}$/;
    var regExpMacAddr = /^(([0-9a-fA-F]{4}\.){2}[0-9a-fA-F]{4}|([0-9a-fA-F]{2}[:-]){5}[0-9a-fA-F]{2}|([0-9a-fA-F]{12}))$/
    return regExpIPv4.test(text) || regExpIPv6.test(text) || regExpMacAddr.test(text);
}

</script>


</body>
</html>