{% load staticfiles %}

{% include 'monitor/template_header.html' %}

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{% static 'lib/datatable/css/dataTables.bootstrap.css' %}">

{% include 'monitor/template_nav.html' %}

<div class="container page-container">
    <section class="section">
        <div class="row">
            <div class="col-xs-12 col-title">
                <h2 class="text-primary">Analyze Statistics</h2>
            </div>
            <div class="col-xs-12 col-table">
                <div class="table-container row">
                    <div class="col-xs-12 col-sm-5">
                        <label>Device Item ID:</label>
                        <input id="deviceItemId" type="search" class="form-control" aria-controls="dataTable">
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <label>Context Type:</label>
                        <input id="contextType" type="search" class="form-control" aria-controls="dataTable">
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <button id="btnStatistics" class="btn btn-primary col-xs-12">
                            Analyze<br class="hidden-xs"/> Statistics</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-table">
                <div class="table-container row">
                    <div class="table-title col-xs-12 col-md-4">Statistics Summary List</div>
                    <table id="dataTable" class="table table-striped table-bordered table-hover display"
                           width="100%"></table>
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'monitor/template_footer.html' %}

<!-- custom javascript -->
<script src="{% static 'lib/datatable/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatable/js/dataTables.bootstrap.js' %}"></script>
<script>
    var dataTable = null;

    $(document).ready(function () {
        $('#btnStatistics').click(function() {
            var itemID = $('#deviceItemId').val();
            var contextType = $('#contextType').val();

            if (!/\S/.test(itemID) && !/\S/.test(contextType)) {
                setDataTable([]);
                openModal('Both Device Item ID and Context Type are empty.<br/>Please fill one field at least.', "Search Failed");
                return;
            }

            var ajaxData = {};
            if (!/\S/.test(itemID)) {
                itemID = null;
            } else {
                if (itemID.match(/^[0-9]+$/) == null) {
                    openModal('Device Item ID must be natural number', "Analyze Failed");
                    return;
                }
                itemID = parseInt(itemID);
                console.log(itemID);
                if (itemID == null || isNaN(itemID)) {
                    openModal('Device Item ID must be natural number', "Analyze Failed");
                    return;
                }
                ajaxData['device_item_id'] = itemID;
            }

            if (!/\S/.test(contextType)) {
                contextType = null;
            } else {
                ajaxData['context_type'] = contextType;
            }

            $.LoadingOverlay('show');
            $.ajax("/api/analyze", {
                method: 'GET',
                data: ajaxData,
                success: function(res) {
                    $.LoadingOverlay('hide');
                    console.log(res);
                    if (res['code'] == 'SUCCESS') {
                        var logs = res['logs'];
                        for (var i = 0; i < logs.length; i++) {
                            addLog(logs[i]);
                        }
                        setDataTable(res['statistics']);

                    } else {
                        openModal(res['msg'], "Analyze Failure");
                    }
                }
            })
        });

        setDataTable(null);
    });

    function setDataTable(dataList) {
{#        $('#dataTable tbody').off('click', 'tr');#}
{#        $('#dataTable tbody').off('click');#}
{#        $('#dataTable').empty();#}
        if (dataTable != null) {
            dataTable.destroy();
        }

        $.LoadingOverlay('show');
        dataTable = $('#dataTable').DataTable({
            "fnInitComplete": function(oSettings){
                $.LoadingOverlay('hide')
            },
            data: dataList,
            order: [[0, "asc"], [1, "asc"], [2, "asc"]],
            columns: [
                {title: "Device Item ID"},
                {title: "Context Type"},
                {title: "Subtype", render: {
                    "display": function(data) {
                        if (data == null || data == "None")
                            return '';
                        else return data
                    }
                }},
                {title: "Min", render: {
                    "display": function(data) {
                        if (isNaN(data)) return data;
                        else return parseInt(parseFloat(data)*1000)/1000;
                    }
                }},
                {title: "Max", render: {
                    "display": function(data) {
                        if (isNaN(data)) return data;
                        else return parseInt(parseFloat(data)*1000)/1000;
                    }
                }},
                {title: "Avg", render: {
                    "display": function(data) {
                        if (isNaN(data)) return data;
                        else return parseInt(parseFloat(data)*1000)/1000;
                    }
                }},
                {title: "Var", render: {
                    "display": function(data) {
                        if (isNaN(data)) return data;
                        else return parseInt(parseFloat(data)*1000)/1000;
                    }
                }}
            ]
        });
        $('#dataTable tbody').on('click', 'tr', function () {
            $.LoadingOverlay('show');
            var data = dataTable.row(this).data();
            if (data==undefined || data==null || data.length==0) {
                $.LoadingOverlay('hide');
                return;
            }
            if (data[2] == null || data[2] == "None")
{#                location.href = '{% url 'monitor:statistics' %}/' + data[7] + '/' + data[0]#}
{#                                + '/' + data[1];#}
                window.open('{% url 'monitor:statistics' %}/' +
                            data[7] + '/' + data[0] + '/' + data[1], 'ctxStatistics');
            else
{#                location.href = '{% url 'monitor:statistics' %}/' + data[7] + '/' + data[0]#}
{#                                + '/' + data[1] + '/' + data[2];#}
                window.open('{% url 'monitor:statistics' %}/' +
                            data[7] + '/' + data[0] + '/' + data[1] + '/' + data[2], 'ctxStatistics');
            $.LoadingOverlay('hide');
        });

        if (dataList!=undefined && dataList!=null && dataList.length==0) {
            openModal('There is no matched statistics data.', "Analyze Statistics");
        }
    }
</script>

</body>
</html>