{% load staticfiles %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collasped"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand onloading" href="{% url 'monitor:index' %}">IoT Framework</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a id="nav_device_model" class="onloading" href="{% url 'monitor:device_model' %}">Device Model</a></li>
                <li><a id="nav_device_item" class="onloading" href="{% url 'monitor:device_item' %}">Device Item</a></li>
                <li><a id="nav_connection" class="onloading" href="{% url 'monitor:user' %}">User</a></li>
                <li><a id="nav_connection" class="onloading" href="{% url 'monitor:connection' %}">Connection</a></li>
                <li><a id="nav_context" class="onloading" href="{% url 'monitor:context' %}">Context</a></li>

            </ul>
        </div>
    </div>
</nav>